.App {
  font-family: sans-serif;
  text-align: center;
}

.container {
  padding-top: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}

.grid-item {
  padding: 20px;
  font-size: 30px;
  text-align: center;
  border-radius: 5px;
  border: 2px solid blue;
  height: 100px;
  cursor: pointer;
}
